header * {
  width: 50vw;
  margin: auto;
  height: 70px;
}
/* COMMON */
.block {
  height: 600px;
}

/* VERSIONE FLOAT */
.block .content {
  width: 70vw;
  margin: auto;
  height: 100%;
  position: relative;
}

.block .content .left{
  width: 50%;
  float: left;
  position: relative;
  top: calc(100% / 2);
  transform: translateY(-50%);
}

.block .content .right{
  width: 50%;
  float: right;
  position: relative;
  top: calc(100% / 2);
  transform: translateY(-50%);
}

/* VERSIONE INLINE */
.block .content-inline {
  width: 70vw;
  margin: auto;
  height: 100%;
  position: relative;
}

.block .content-inline > *{
  display: inline-block;
}

.block .content-inline .left{
  width: 50%;
}

.block .content-inline .right{
  width: 50%;
  margin-left: -4px;
  position: absolute;
  right:0;
}

#marketing img{
  width: 100%;
}

.vert-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* .vert-center-rel{
  position: relative;
  top: calc((100% - 120px) / 2);
} */

#grow {
  text-align: center;
}

/* background Colors */
.bg-grey{
  background: #f2f5f8 url(http://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sword-sprocket/new-2017__state3-circles-bg.svg) 0 0 no-repeat
}

.bg-orange{
  background: orange;
}

[background="gradient-green"]{
      background-image: linear-gradient(0deg,#00a4bd,#00bda5);
}

.clear{
  clear: both;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
